{% extends "base.html" %} {% block title %}Forgot password!{% endblock %} {%
block content %} {% if message %}

<!-- <title>Forgot Password</title> -->

<style>
  div {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 250px;
    margin-left: 250px;
  }
  h1 {
    color: Black;
  }
</style>

<div class="alert alert-secondary" role="alert">
  <p>{{ message }}</p>
</div>
{% endif %}

<form method="POST">
  <div
    style="
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 250px;
      margin-left: 250px;
    "
  >
    <label for="email">Enter your email:</label>
    <input
      name="forgot_pass_email"
      class="form-control"
      id="InputEmail"
      placeholder="Enter email"
      required
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    style="
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 250px;
      margin-left: 250px;
    "
  >
    Send Password
  </button>
</form>
<!-- <div class="card text-black text-center p-3"> -->

<div
  class="text-black text-center p-3"
  style="
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 250px;
    margin-left: 250px;
  "
>
  <!-- <h2>Your anme is</h2>
  <h1 style="color: Black">{{ user_forgotpass_name }}</h1>
  <h2>and your email is</h2>
  <h1 style="color: Black">{{ user_forgotpass_email }}</h1>
  <h2>and your password is</h2>
  <h1 style="color: Black">{{ user_forgotpass }}</h1> -->
  <!-- {% if message %}
  <h1>{{ emailSent }}</h1>
  {% endif %}
</div> -->

  <!-- </div> -->
  {% endblock %}

  <!-- 
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %} -->
</div>
